
@{
    ViewBag.Title = "更改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style>
        .form-control.is-valid ~ .invalid-feedback {
            display: none;
        }

        .form-control.is-invalid ~ .invalid-feedback {
            display: block;
        }

        .form-group .invalid-feedback {
            display: none;
        }

        .form-group.has-error .invalid-feedback {
            display: block;
        }
        
    </style>
}

<main class="main-container">
    <div class="main-content">

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">更改密码</h4>
            </div>

            <div class="card-body row">
                <div class="col-3"></div>
                <div class="col-6">
                    <form name="newForm" novalidate role="form">
                        <div class="form-group" show-errors>
                            <label class="require" for="password">旧密码</label>
                            <input class="form-control" ng-model="data.OldPassword" id="oldpassword" name="oldpassword" type="password" ng-required="true">
                            <div>
                                <ul class="list-unstyled">
                                    <li class="invalid-feedback" ng-if="newForm.oldpassword.$error.required">输入不能为空.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label class="require" for="password">新密码</label>
                            <input class="form-control" ng-model="data.NewPassword" id="password" name="password" type="password" data-provide="pwstrength" ng-required="true" ng-minlength="6" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$/">
                            <small class="form-text">至少需要一个大写、小写和数字.</small>
                            <div>
                                <ul class="list-unstyled">
                                    <li class="invalid-feedback" ng-if="newForm.password.$error.required">输入不能为空.</li>
                                    <li class="invalid-feedback" ng-if="newForm.password.$error.minlength">至少6个字符.</li>
                                    <li class="invalid-feedback" ng-if="newForm.password.$error.pattern">至少需要一个大写、小写和数字.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label for="confirmpassword" class="require">确认密码</label>
                            <input type="password" ng-model="data.ConfirmPassword" class="form-control" id="confirmpassword" name="confirmpassword" ng-required="true" @*ng-pattern="data.NewPassword"*@>
                            <div>
                                <ul class="list-unstyled">
                                    <li class="invalid-feedback" ng-if="newForm.confirmpassword.$error.required">输入不能为空.</li>
                                    <li class="invalid-feedback" ng-if="data.NewPassword!=data.ConfirmPassword" @*ng-if="newForm.confirmpassword.$error.pattern"*@>These passwords don't match.Try again?</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-bold btn-block btn-primary" type="submit" ng-click="changePass(data)">更新</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</main>
