
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Dorisoy.MM 是一款在线会议纪要生成助手. ">
    <meta name="keywords" content="forget, password">
    <title>找回密码</title>
    <!-- Fonts -->
    <!-- Styles -->
    <link href="~/content/assets/css/core.min.css" rel="stylesheet" />
    <link href="~/content/assets/css/app.css" rel="stylesheet" />
    <link href="~/content/assets/css/style.min.css" rel="stylesheet" />
    <link rel="manifest" href="~/Content/Admin/img/fabicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/Admin/img/fabicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <style>
        .form-control.is-valid ~ .invalid-feedback {
            display: none;
        }

        .form-control.is-invalid ~ .invalid-feedback {
            display: block;
        }

        .form-group .invalid-feedback {
            display: none;
        }

        .form-group.has-error .invalid-feedback {
            display: block;
        }

        .img-circle {
            border-radius: 50%;
        }
    </style>

</head>
<body ng-app="app" ng-controller="cLogin">
    <div class="row min-h-fullscreen center-vh p-20 m-0">
        <div class="col-12">
            <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
                <div class="card card-body text-center py-50">
                    <a href="#">
                        <img src="~/Content/assets/img/logo.png" />
                    </a>
                </div>
                <h5 class="text-uppercase text-center">找回密码</h5>
                <br>
                <form name="newForm" novalidate role="form">
                    <div class="form-group" show-errors>
                        <label class="require" for="email">邮箱</label>
                        <input ng-required="true" type="email" class="form-control" id="email" name="email" ng-model="data.Email">     
                        <div>
                            <ul class="list-unstyled">
                                <li class="invalid-feedback" ng-if="newForm.email.$error.required">输入不能为空.</li>
                            </ul>
                        </div>                 
                    </div>
                    <br>
                    <button class="btn btn-bold btn-block btn-primary" type="submit" ng-click="RecoverPassword(data)">重置密码</button>
                </form>
            </div>
            <p class="text-center text-muted fs-13 mt-20"><a class="text-primary fw-500" href="~/">去登录</a></p>
        </div>

        <footer class="col-12 align-self-end text-center fs-13">
            <p class="mb-0"><small>Copyright © 2022 <a href="http://xamarin.top">Dorisoy</a>. All rights reserved.</small></p>
        </footer>
    </div>


    <!-- Scripts -->
    <script src="~/content/assets/js/core.min.js"></script>
    <script src="~/content/assets/js/app.js"></script>
    <script src="~/content/assets/js/script.js"></script>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/Projects/Global/sweetalert.min.js"></script>
    <script src="~/Scripts/Projects/Global/app.js"></script>
    <script src="~/Scripts/Projects/Home/Login.js"></script>
</body>
</html>
