
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="forget, password">
    <title>会议纪要</title>
    <!-- Fonts -->
    <!-- Styles -->
    <link href="~/content/assets/css/core.min.css" rel="stylesheet" />
    <link href="~/content/assets/css/app.css" rel="stylesheet" />
    <link href="~/content/assets/css/style.min.css" rel="stylesheet" />
    
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/Admin/img/fabicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="row min-h-fullscreen center-vh p-20 m-0">
        <div class="col-12">
            <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
                <div class="card card-body text-center py-50">
                    <a href="#">
                        <img src="~/Content/assets/img/logo.png" />
                    </a>
                </div>
                <h4 style="text-align:center">谢谢</h4>
                <h6 style="text-align:center">你的邮箱地址已经被验证</h6>
                <br>
            </div>
        </div>
        <p class="text-center text-muted fs-13 mt-20"><a class="text-primary fw-500" href="~/">去登录</a></p>


        <footer class="col-12 align-self-end text-center fs-13">
            <p class="mb-0"><small>Copyright © 2022 <a href="http://xamarin.top/">Dorisoy</a>. All rights reserved.</small></p>
        </footer>
    </div>


    <!-- Scripts -->
    <script src="~/content/assets/js/core.min.js"></script>
    <script src="~/content/assets/js/app.js"></script>
    <script src="~/content/assets/js/script.js"></script>
</body>
</html>

