
@{
    ViewBag.Title = "任务明细";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style>
        .col-md-2 {
            max-width: 22%;
            flex: 0 0 22%;
        }

        .col-md-4 {
            max-width: 28%;
            flex: 0 0 28%;
        }

        .col-md-10 {
            max-width: 78%;
            flex: 0 0 78%;
        }

        .cb {
            color: black !important;
        }

        .o1 {
            opacity: 1 !important;
        }
        
    </style>
}

<main class="main-container" ng-controller="meeting">
    <div class="main-content" ng-init="editData()">

        <div class="card">
            <div class="card-header flexbox">
                <h4 class="card-title">任务明细</h4>
                <button type="button" class="btn btn-secondary" onclick="javascript:window.print();">打印</button>
            </div>

            <div class="card-body printing-area form-type-line">
                <div class="row input-group">
                    <div class="col-md-2">
                        <label class="input-group-text fs-20 cb flexbox"><span>议题</span> <span>:</span></label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control fs-20 cb o1 h-40px" ng-value="data.vTitle" readonly />
                    </div>

                    <div class="col-md-2">
                        <label class="input-group-text fs-20 cb flexbox"><span>日期</span> <span>:</span></label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control fs-20 cb o1 h-40px" ng-value="data.dDate" readonly />
                    </div>
                    <div class="col-md-2">
                        <label class="input-group-text fs-20 cb flexbox"><span>持续时间</span> <span>:</span></label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control fs-20 cb o1 h-40px" ng-value="data.duration" readonly />
                    </div>
                    <div class="col-md-2">
                        <label class="input-group-text fs-20 cb flexbox"><span>场地</span> <span>:</span></label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control fs-20 cb o1 h-40px" ng-value="data.vLocation" readonly />
                    </div>
                    <div class="col-md-12 row" style="padding-left:27px; padding-top:15px;" ng-repeat="ag in data.AgendaList">
                        <div class="col-md-12" style="border-bottom: 1px solid;">
                            <label class="fs-20 cb" style="margin-bottom:0;">议程 : {{ag.vAgendaName}} </label>
                        </div>
                        <div class="col-md-2 h-40px">
                            <div class="input-group-prepend flexbox">
                                <label class="input-group-text fs-20 cb">议程内容</label>
                                <label class="input-group-text fs-20 cb">:</label>
                            </div>
                        </div>
                        <div class="col-md-10 cl10" style="padding-left:10px;">
                            <label type="text" class="form-control fs-20 cb o1" style="font-weight:300; line-height: 1.3;" ng-bind="ag.vAgendaDetails" readonly> </label>
                        </div>
                        <div class="col-md-12 row" ng-repeat="mt in ag.MeetingTasks" style="padding-left:27px;">
                            <div class="col-md-12">
                                <label class="fs-20 cb" style="margin-bottom:0;">任务 #{{$index+1}} </label>
                            </div>
                            <div class="col-md-2 h-40px">
                                <div class="input-group-prepend flexbox">
                                    <label class="input-group-text fs-20 cb">任务详细</label>
                                    <label class="input-group-text fs-20 cb">:</label>
                                </div>
                            </diV>
                            <div class="col-md-10" style="padding-left:4px;">
                                <label type="text" class="form-control fs-20 cb o1" style="font-weight:300; line-height: 1.3;" ng-bind="mt.vTaskDetails" readonly> </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>


    @section scripts{
        <script src="~/Scripts/Projects/Home/Meeting.js"></script>
    }
